<div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2>Welcome {{vm.user.firstName}}!</h2>
                        <p>You're logged in!!</p>
                        <h3>All users:</h3>
                        <ul>
                            <li ng-repeat="user in vm.allUsers">
                                {{user.username}} ({{user.firstName}} {{user.lastName}})
                                - <a ng-click="vm.deleteUser(user.id)">Delete</a>
                            </li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><a href="#!/login" class="btn btn-primary">Logout</a></p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-9">
                <div class="panel panel-primary">
                    <div class="panel-body">
                            <h3>
                                Stackoverflow tag=java
                            </h3>
                        
                            <ol> 
                                <li class="list-item" ng-repeat="data in vm.stackoverflow">
                                    <div class="row row-eq-height">
                                        <div class="col-md-1 votes-container">
                                            <div class="row">
                                                    <span style="padding:10%" class="glyphicon glyphicon-chevron-up"></span>
                                            </div>
                                            <div class="row">
                                                    <span class="text-center votes" activity-tracker-click>{{data.vote_count}}</span>
                                                    <span class="votes-text">votes</span> 
                                            </div>
                                            <div class="row">
                                                    <span style="padding:10%" class="glyphicon glyphicon-chevron-down"></span>
                                            </div class="row">
                                        </div>
                                        <div class="col-md-11">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4>
                                                        <a href="{{data.ques_url}}" target="_blank" type="question" activity-tracker-click>{{data.ques}}</a>
                                                    </h4>
                                                    <p>
                                                        {{data.ques_desc}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                                <a href="{{data.user_url}}" target="_blank" type="profile" activity-tracker-click>{{data.user_name}}</a>
                                                        </div>
                                                        <div class="col-md-6">
                                                                {{data.views}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>